body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}

code {
  	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
